/ert-tests/ert.el
/ert-tests/test_output/
/ert-tests/express.el
/ert-tests/font-utils.el
/ert-tests/list-utils.el
/ert-tests/pcache.el
/ert-tests/persistent-soft.el
/ert-tests/string-utils.el
/ert-tests/ucs-utils-6.0-delta.el
/ert-tests/ucs-utils.el

*-autoloads.el
*.elc
*~
